##
## Build configuration file
##


# Default ARCH and PLATFORM
ARCH       ?= i386
PLATFORM   ?= pc
BUILD_ROOT ?= build
MACHINE    := $(ARCH)-$(PLATFORM)
BUILD_DIR  := $(BUILD_ROOT)/$(MACHINE)


# Set default values for input arguments
DEBUG ?= yes
Q     ?= @


# Top of the source tree
TOPDIR := $(CURDIR)


# Set up some options
GLOBAL_CFLAGS  := $(EXTRA_CFLAGS) -g -O2 -ffreestanding -fno-pic
KERNEL_CFLAGS  := -D__KERNEL__
USER_CFLAGS    := -D__USER__
GLOBAL_LDFLAGS := $(EXTRA_LDFLAGS)
GLOBAL_ASFLAGS := $(EXTRA_ASFLAGS)
TOOLS_CFLAGS   := -O2


# These options are common for all architectures
GLOBAL_CFLAGS  += -finline -fno-builtin -fno-strict-aliasing
GLOBAL_CFLAGS  += -Wall -W -Wno-multichar -Wno-unused-parameter -Wmissing-prototypes
GLOBAL_CFLAGS  += -DPHLOX=1
GLOBAL_CFLAGS  += -DARCH_$(ARCH)=1 -D__ARCH__=$(ARCH) -U$(ARCH)
GLOBAL_CFLAGS  += -DPLATFORM_$(PLATFORM)=1
GLOBAL_CFLAGS  += -include include/phlox/sysconfig.h
GLOBAL_ASFLAGS += -D__ASSEMBLY__


# Includes
INCLUDES := -Iinclude
TOOLS_INCLUDES := -idirafter include


# Define debug-specific names if debug compilation requested
ifeq ($(DEBUG),yes)
  GLOBAL_CFLAGS += -D__DEBUG__ -DDEBUG=1
else
  DEBUG := no
endif


# Include architecture specific options
-include mkconfig/arch/make.config.$(ARCH)
# Include platform specific options
-include mkconfig/platform/make.config.$(PLATFORM)


# Update global flags
GLOBAL_CFLAGS  += $(ARCH_CFLAGS) $(PLATFORM_CFLAGS)
GLOBAL_LDFLAGS += $(ARCH_LDFLAGS) $(PLATFORM_LDFLAGS)
GLOBAL_ASFLAGS += $(ARCH_ASFLAGS) $(PLATFORM_ASFLAGS)


# Find libgcc
LIBGCC         := -lgcc
LIBGCC_PATH    := $(dir $(shell $(CC) $(GLOBAL_CFLAGS) -print-libgcc-file-name))
LIBGCC_INCLUDE := -I$(LIBGCC_PATH)/include
