# default ARCH and PLATFORM
ARCH := i386
PLATFORM := pc
TARGET := $(ARCH)-$(PLATFORM)
BUILD_DIR := build/$(TARGET)

# tools
CC := gcc
LD := ld
AS := as
AR := ar
OBJCOPY := objcopy
OBJDUMP := objdump
STRIP := strip
SIZE := size

# set up some options
GLOBAL_CFLAGS = -g -O2
KERNEL_CFLAGS = -ffreestanding -fno-pic -D__KERNEL__
GLOBAL_LDFLAGS = -g

# these options are on for all architectures
GLOBAL_CFLAGS += -finline -fno-builtin -fno-strict-aliasing
GLOBAL_CFLAGS += -Wall -W -Wno-multichar -Wno-unused-parameter -Wmissing-prototypes
GLOBAL_CFLAGS += -DPHLOX=1
GLOBAL_CFLAGS += -DARCH_$(ARCH)=1 -D__ARCH__=$(ARCH) -U$(ARCH)
GLOBAL_CFLAGS += -DPLATFORM_$(PLATFORM)=1
GLOBAL_CFLAGS += -include include/phlox/sysconfig.h
GLOBAL_ASFLAGS += -D__ASSEMBLY__

# find libgcc
LIBGCC := -lgcc
LIBGCC_PATH := $(dir $(shell $(CC) $(GLOBAL_CFLAGS) -print-libgcc-file-name))
LIBGCC_INCLUDE := -I$(LIBGCC_PATH)/include

# includes
INCLUDES := -Iinclude
TOOLS_INCLUDES := -idirafter include

# include additional make options
include mkconfig/make.config

# print some info
$(warning ARCH = $(ARCH))
$(warning PLATFORM = $(PLATFORM))
$(warning CPU = $(CPU))
$(warning TARGET = $(TARGET))
$(warning DEBUG = $(DEBUG))
$(warning LIBGCC_PATH = $(LIBGCC_PATH))

$(warning BUILD_DIR =  $(BUILD_DIR))
$(shell mkdir -p $(BUILD_DIR))
